<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>GeminiAPIKey</key>
    <string>YOUR_GEMINI_API_KEY_HERE</string>
    <key>OpenAIAPIKey</key>
    <string>YOUR_OPENAI_API_KEY_HERE</string>
    <key>GoogleMapsAPIKey</key>
    <string>YOUR_GOOGLE_MAPS_API_KEY_HERE</string>
    <key>GoogleReversedClientID</key>
    <string>YOUR_GOOGLE_REVERSED_CLIENT_ID_HERE</string>
    <key>OpenWeatherMapAPIKey</key>
    <string>YOUR_OPENWEATHERMAP_API_KEY_HERE</string>
    <key>PiperTTSBaseURL</key>
    <string></string>
    <key>OpenAIWebSearchModel</key>
    <string>gpt-5-mini</string>
</dict>
</plist>
